<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="MovieTime.Properties.Settings.SinemaBileti_DbConnectionString"
            connectionString="Data Source=DESKTOP-VEL1ERU\SQLEXPRESS;Initial Catalog=SinemaBileti_Db;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>